

#canvas-container {
    text-align: center;
    width: 100%;
}

#video-container {
    text-align: center;
    width: 100%;
}

body{text-align: center;}

.img{position:absolute;z-index:1;}

#single-image-canvas{
    display:inline-block;
    margin: 0 auto;
    position:relative;
}

#canvas1{
    position:relative;
    z-index:20;
}
html {
    background: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.content {
    background: rgba(255, 255, 255, 0.35);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    top: 40px;
    left: 0;
    position: fixed;
    margin-left: 30px;
    margin-right: 30px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
    /*    filter: blur(5px);
    -webkit-filter: blur(5px);*/
}

#snap-button-container {
    text-align: center;
    width: 100%;
}

#save-button-container {
    text-align: center;
    width: 100%;
}

.action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.blue {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red {
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
