<div class="content">
    <div id="single-image-canvas">
        <img class="img" ng-src={{image.image}}>
        <canvas id="canvas1" width="640" height="480"></canvas>
    </div>
    <canvas id="canvas2" width="100" height="480"></canvas>
    <div id="color-changing-panel">
        <div id="blue-button">
            <button class="action-button shadow blue" ng-model="color" ng-click="setcolor('blue')">Blue Ink</button>
        </div>
        <div id="green-button">
            <button class="action-button shadow green" ng-model="color" ng-click="setcolor('green')">Green Ink</button>
        </div>
        <div id="red-button">
            <button class="action-button shadow red" ng-model="color" ng-click="setcolor('red')">Red Ink</button>
        </div>
        <div id="yellow-button">
            <button class="action-button shadow yellow" ng-model="color" ng-click="setcolor('yellow')">Yellow Ink</button>
        </div>
        <div id="black-button">
            <button class="action-button shadow black" ng-model="color" ng-click="setcolor('black')">Black Ink</button>
        </div>
    </div>
    <div id="save-button-canvas-container">
        <button class="action-button shadow green" ng-click="save()">Save Reaction</button>
    </div>
    <div id="redo-button-canvas-container">
        <button class="action-button shadow red" ng-click="redo()">Redo</button>
    </div>
</div>
