<section id="home">
<div id="video-container">
<video ng-show="!snapped" id="video" width="640" height="480" autoplay></video>
</div>
<div id="canvas-container">
<canvas ng-show="snapped" id="canvas" width="640" height="480"></canvas>
</div>
<div id="snap-button-container">
<button ng-show="!snapped" ng-click="snap()">Snap Photo</button>
<button ng-show="snapped" ng-click="retake()">Retake Photo</button>
</div>
<div id="save-button-container">
<button ng-show="snapped" ng-click="save()">Save Photo</button>
</div>
</section>
